.mdl-textfield {
  width: 100%;
}

button {
  width: 100%;
}

input[type=text] {
  outline: none;
}

.has-error {
  border-bottom-color: #dd4b39;
}

.has-error::-webkit-input-placeholder {
  color: #dd4b39;
}

.has-error:-moz-placeholder {
  color: #dd4b39;
  opacity: 1;
}

.has-error::-moz-placeholder {
  color: #dd4b39;
  opacity: 1;
}

.has-error:-ms-input-placeholder {
  color: #dd4b39;
}

.has-error::-ms-input-placeholder {
  color: #dd4b39;
}
