<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <form [formGroup]="stocksForm" (submit)="add(newStock.value)">
        <input type="text" #newStock [formControl]="stocksForm.controls['newStock']" class="mdl-textfield__input" placeholder="Add Stock..."/>
    </form>
    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <tbody>
        <tr *ngFor="let stock of stocksKeys">
          <td class="mdl-data-table__cell--non-numeric">{{stock}}</td>
          <td>
            <a class="remove-button" (click)="remove(symbol)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>