table {
  width: 100%;
}

.mdl-textfield {
  width: 100%;
}

.mdl-button:hover {
  color: #555;
}

.remove-button {
  transition: all 0.2s ease-in-out;
  text-shadow: 0 2px 5px;
  color: #dd4b39;
  opacity: 0.5;
  cursor: pointer;
}

.remove-button:hover {
  opacity: 1;
}

form {
  margin-bottom: 1rem;
}

input[type=text] {
  outline: none;
}
