.mdl-card {
  width: 100%;
  min-height: 130px;
}

.mdl-card__supporting-text {
    top: 0.5rem;
    position: relative;
}
.price {
  font-size: 2rem;
}

.up,
.down {
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

.up {
  color: #3d9400;
}

.down {
  color: #dd4b39;
}

.up i,
.down i {
  position: relative;
  top: 2px;
  font-weight: bold;
}

.small {
  font-size: 0.8rem;
}
